.header{
    margin-left: 5rem;
}

.wrapper{
    float: left;
}

.content {
    width: 650px;
    margin-left: 4rem;
}

img{
    padding-bottom: 1rem;
}

p {
    display: inline-block;
}

.card{
    margin-top: 2rem;
    margin-left: 47rem;
    float: left;
    position: fixed;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343c44;
    color: white;
    text-align: center;
}