.header{
    margin-left: 5rem;
}

.wrapper{
    float: left;
}
.content {
    width: 600px;
    margin-left: 5rem;
}

img{
    padding-bottom: 1rem;
}

.card{
    margin-top: 2rem;
    margin-left: 3rem;
    float: left;
    position: -webkit-sticky; /* Safari */
    position: sticky;
}
p {
    display: inline-block;
}

