
.card_container {
    font-family: Oxygen, sans-serif;
    display: grid;
    margin: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    grid-gap: 1rem;
    justify-content: center;
}

.card {
    margin-right: 1rem;
}
