
.card_container {
    font-family: Oxygen, sans-serif;
    display: grid;
    margin: 2rem;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 18rem));
    justify-content: center;
}

footer {
    text-align: center;
    padding-bottom: 20px;
    background-color: #343a40;
    color: white;
}

